streamlit>=1.54.0
pandas>=2.2.3
plotly>=6.0.0
requests>=2.32.3
pyarrow>=19.0.0
gcsfs>=2025.3.0
fuzzywuzzy>=0.18.0
python-Levenshtein>=0.27.3
duckdb>=1.5.1
openpyxl>=3.1.5
# Core Data & ML
scikit-learn>=1.6.0
statsmodels>=0.14.0
scipy>=1.15.0
joblib>=1.4.0
patsy>=1.0.0

# UI & Interaction
streamlit-elements>=0.1.0
streamlit-autorefresh>=1.0.1
woocommerce>=3.0.0
